@model IEnumerable<ExpenseTracker.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Categories</h1>

<p>
    <a asp-action="AddOrEdit" class="btn btn-success my-1">Create New</a>
</p>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Filter by types
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" asp-action="Index">No Filter</a>
    <a class="dropdown-item" asp-action="FilteredCategoriesByIncome">Income</a>
    <a class="dropdown-item" asp-action="FilteredCategoriesByExpense">Expense</a>
  </div>
</div>

<table class="table w-75">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.Type == "Expense")
            {
                <tr>
                    <td>
                @Html.DisplayFor(modelItem => item.TitleWithIcon)
                    </td>
                        <td>
                @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        <a asp-action="AddOrEdit" asp-route-id="@item.CategoryId" class="btn btn-success my-1">
                            <i class="bi bi-pencil-fill"></i>&nbsp;Edit</a>
                @using (Html.BeginForm("Delete", "Category", new { id = @item.CategoryId }))
                {
                                    <input type="submit" value="Delete" onclick="return confirm(&quot;Are sure to delete this Category?&quot;)"/> 
                }
                    </td>
                </tr>
            }}
    </tbody>
</table>
