@using System.Security.Claims;
@model ExpenseTracker.Models.Transaction

@{
    ViewData["Title"] = "Print";
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<h1>Transaction Details</h1>

<p>
    <a asp-action="Index" class="btn btn-success my-1">Table</a>
</p>

@if (Model.AppUserID == userId)
{
    <input type="hidden" name="TransactionId" value="@Model.TransactionId"/>
    <ul class="nav flex-column">
        <li class="nav-item">
            <p>Category: @Html.DisplayFor(modelItem => Model.Category.TitleWithIcon)</p>
        </li>
        <li class="nav-item">
            <p>Amount: @Html.DisplayFor(modelItem => Model.Amount)</p>
        </li>
        <li class="nav-item">
            <p>Note: @Html.DisplayFor(modelItem => Model.Note)</p>
        </li>
        <li class="nav-item">
            <p>Date: @Convert.ToDateTime(Model.Date).ToString("d/MMM/yyyy")</p>
        </li>
    </ul>
}

